<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>

    <form method = 'post' action = '/team'>
        <label>Name:</label>
        <input type = "string" name = "name">
        <br>
        <label>Coach:</label>
        <input type = "string" name = "coach">
        <br>
        <label>Point Guard:</label>
        <input type = "string" name = "pg">
        <br>
        <label>Shooting Guard:</label>
        <input type = "string" name = "sg">
        <br>
        <label>Small Forward:</label>
        <input type = "string" name = "pf">
        <br>
        <label>Power Forward:</label>
        <input type = "string" name = "sf">
        <br>
        <label>Center:</label>
        <input type = "string" name = "c">
        <br>
        <input type = "submit" id = "Submit">
    </form>
 </body>
</html>


